
h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.spinner-grow {
    display: flex;
}

body {
    background-color: rgb(153,102,153);
    color: crimson;
    background-image: url("img/finally.jpg");
    font-family: "Al Nile";
}

.card{
    background-color: beige;
    margin: 15px;
}