
h1{
    display: flex;
    justify-content: center;
}

.spinner-grow {
    display: flex;
}

body {
    background-color: rgb(153,102,153);
    color: indianred;
    background-image: url("img/finally.jpg");
    font-family: "Al Nile";
}

.card-body{
    background-color: beige;
}